<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <span class="mb-3 mb-md-0 text-white">©<%= new Date().getFullYear() %> SteamInfo</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-muted" href="https://github.com/VimalKumarKJ"><img src="/images/giticon.png" height="30px", width="30px"/></a></li>
    <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/vimal-kumar-k-j-4bba611b6/"><img src="/images/Linkedin.png" height="30px", width="30px"/></a></li>
    <li class="ms-3"><a class="text-muted" href="https://vimalkumarkj.netlify.app/"><img src="/images/website.png" height="30px", width="30px"/></use></svg></a></li>
  </ul>
</footer>
</html>